.home {
  padding: 2rem 4rem;
}
.tester {
  margin: auto;
  width: 400px;
  height: 400px;
}
.text {
  margin: 20px;
}
/* .animation {
  animation: 8s linear 1s infinite normal both running rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
