#innerCircle {
  /* animation: 3s linear 1s infinite running slidein; */

  /* fill: salmon; */
}
.innerCircle {
  /* animation: 3s linear 1s infinite running slidein; */

  background: salmon;
}

svg {
  border: 1px solid lemonchiffon;
}

#aboutBox:hover,
#sitesBox:hover,
#blogsAndArtBox:hover {
  cursor: pointer;
}
/* #animation {
  animation: 4s linear 1s infinite alternate both running rotate;
  transform-origin: 0% 0%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
} */
