/* Sites Page */
.my-sites {
  margin-bottom: 2rem;
}
.top {
  padding: 1rem 2.4rem 0rem 2.4rem;

  background: var(--infinity);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 0.08rem solid var(--sweet-perfume);
}
.top h1 {
  font-size: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--infinity-trans);
  padding-bottom: 2rem;

  border: 0.08rem solid var(--sweet-perfume);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/*  Screenshots  */
.item {
  display: flex;
  padding: 1.8rem;
}
.border {
  display: flex;
  align-items: center;

  background: var(--infinity);

  border-radius: 2.2rem;
  border: 0.2rem solid var(--sweet-perfume);
}
.border:hover {
  box-shadow: 0rem 0rem 0.6rem 0.1rem var(--sweet-perfume);
}
.shot {
  display: flex;
  width: 100%;
  height: auto;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.left {
  border-right: 0.08rem solid var(--sweet-perfume);
}
.right {
  width: 80%;
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;
}
.title {
  margin-bottom: 1rem;
  padding: 1rem 2rem 0.2rem 2rem;
  text-align: center;

  border-top-right-radius: 2rem;
  background: var(--shuriken);

  color: var(--mangala-pink);
  font-family: "Tienne", serif;
  font-weight: 900;
  font-size: 1.4rem;
}
.description {
  padding: 0rem 1.4rem 0rem 1.4rem;

  border-bottom-right-radius: 2rem;
  background: var(--infinity);

  color: var(--peekaboo);
  font-family: "Proza Libre", sans-serif;
  font-size: 1.2rem;
}
